<!DOCTYPE root[<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
 

]>
<root id="-1">
  <Home id="1047" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2013-07-08T11:17:17" updateDate="2013-07-08T11:17:34" nodeName="Home (1)" urlName="home-(1)" path="-1,1047" isDoc="" nodeType="1046" creatorName="admin" writerName="admin" writerID="0" template="1045" nodeTypeAlias="Home">
    <ageTest>2006-07-05T00:00:00</ageTest>
  </Home>
</root>